.weather-table {
  tr {
    th, td {
      padding: 18px 0 18px 20px;
      vertical-align: middle;
    }
    td {
      cursor: pointer;
    }
    td:nth-child(1) {
      position: relative;
      &:before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        background: #17a2b8;
        height: 100%;
        width: 0px;
        visibility: hidden;
        transition: 250ms width ease-in;
      }
    }
    &:hover{
      td:nth-child(1):before {
        width: 10px;
        visibility: visible;
      }
    }
  }
}
